@import "src/styles";

:host {
  @extend .shadow;

  display: flex;
  flex-direction: column;

  background-color: $color-background;
  border-radius: $border-radius;
}

app-load-data,
app-date-time-selection,
app-tag-filter,
hr {
  margin-bottom: $space-base;
}

.footer-label {
  color: $color-gray-mid;
  font-size: $font-size-small;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid $color-gray-light;
}

app-poi {
  margin-bottom: $space-base;
}
