@import "src/styles";

@keyframes circle-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader.simple-circle {
  transform-origin: center center;
  border: 1px solid transparent;
  border-right-color: $color-dark;
  width: $space-base;
  height: $space-base;
  border-radius: 12px;
  animation: circle-loader 0.85s infinite;
}
