@use "sass:math";

$space-base: 1rem;
$space-small: math.div($space-base, 2);
$space-large: $space-base * 2;
$space-huge: $space-base * 3.5;

* {
  font-family: DejaVu Sans, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
}

$border-radius: 0.5rem;
