<div class="show-tag-wrapper hoverable" (click)="listExpanded = !listExpanded">
  @if (!listExpanded) {
    <span>{{ "poi-details.show-details" | translate}}</span>
  }
  @if (!listExpanded) {
    <i class="icon-chevron-down"></i>
  }

  @if (listExpanded) {
    <span>{{ "poi-details.hide-details" | translate}}</span>
  }
  @if (listExpanded) {
    <i class="icon-chevron-up"></i>
  }
</div>
@if (listExpanded) {
  <div class="tag-list">
    <table>
      <tr>
        <th>{{ "poi-details.key" | translate}}</th>
        <th>{{ "poi-details.value" | translate}}</th>
      </tr>
      @for (t of relevantTags; track t) {
        <tr>
          <td [title]="t[0]" class="no-overflow">{{t[0]}}</td>
          @if (!isUrl(t[1])) {
            <td [title]="t[1]">{{t[1]}}</td>
          }
          @if (isUrl(t[1])) {
            <td [title]="t[1]">
              <a [href]="t[1]" target="_blank">{{t[1]}}</a>
            </td>
          }
        </tr>
      }
    </table>
    @if (selectedFeature) {
      <p>{{"poi-details.last-edited" | translate}}{{lastEditDate | date}}</p>
    }
  </div>
}
