<div *ngIf="!!openingHoursString" class="details-container">
	<div class="opening-bar" [ngClass]="{ green: isOpen, red: !isOpen }"></div>
	<div class="content">
		<h3>{{ name }}</h3>
		<p>{{ openingHoursString }}</p>
		<div>
			<a *ngIf="!!website" [href]="website" target="_blank">{{ "poi-details.website" | translate }}</a>
			<span *ngIf="!!website"> | </span>
			<a [href]="osmWebsite" target="_blank">{{ "poi-details.view-on-osm-org" | translate }}</a>
		</div>
		<p>
			<span *ngIf="openingCheckTimeIsNow" [innerHTML]="'poi-details.open-now-notice' | translate"></span>
			<span *ngIf="!openingCheckTimeIsNow" [innerHTML]="'poi-details.open-notice' | translate"></span>
			<span> {{ isOpen ? ('yes' | translate) : ('no' | translate) }}</span>
		</p>

		<app-tag-list [selectedFeature]="selectedFeature"></app-tag-list>
	</div>
</div>
