@import "src/styles";

h2 {
  margin-top: $space-small;
}

.details-container {
  display: flex;
  flex-direction: row;
  margin-bottom: $space-base;
}

.opening-bar {
  width: 2.5 * $border-radius-small;
  margin-right: $space-base;
  border-radius: 1.25 * $border-radius;
}

.red {
  background-color: #f44336d8;
}

.green {
  background-color: #4caf50d8;
}
