@use "src/styles" as *;

:host {
  width: 100%;
  height: 100%;
  display: block;
}

.sidebar-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;

  width: 25%;
  min-width: 300px;
  max-width: 430px;
  max-height: 100%;
}

app-sidebar {
  margin: $space-base;
  padding: $space-base;
  width: 100%;
}
