@import "src/styles";

:host {
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 0;
  margin-bottom: $space-small;
  margin-left: 1px; // Looks better because of all the borders from buttons and inputs
}

.date-picker {
  margin-right: $space-small;
}

.input-container {
  display: flex;
  flex-direction: row;
}
