<b class="title">{{ "tag-filter.title" | translate }}</b>
<select
	[(ngModel)]="selectedTag"
	(ngModelChange)="onTagFieldChanged()"
	class="tag-selection"
	[ngClass]="{'placeholder': !selectedTag || selectedTag === ''}"
>
	<option value="" disabled selected hidden>{{"tag-filter.template-placeholder"|translate}}</option>
	<option *ngFor="let t of tagTemplates" [ngValue]="t.tag">{{t.name | translate}}</option>
</select>
<input
	[(ngModel)]="selectedTag"
	(ngModelChange)="onTagFieldChanged()"
	[placeholder]='"tag-filter.tag-placeholder" | translate'
/>
