@import "src/styles";

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.load-data-button {
  margin-right: $space-base;
  white-space: nowrap;
}

app-loading-spinner {
  margin-right: $space-base;
}
